<div x-data="{ activeTab: 0 }" class="qm-modal-body flex-1">
  <!-- Tab bar -->
  <div class="qm-tab-bar gap-1 px-5 pt-4 pb-0">
    {% for f in files %}
    <button @click="activeTab = {{ loop.index0 }}"
            :class="activeTab === {{ loop.index0 }}
              ? 'qm-tab-btn-active'
              : 'qm-tab-btn'"
            class="qm-tab-btn rounded-t qm-nowrap">
      {{ f.filename }}
    </button>
    {% endfor %}
  </div>

  <!-- File contents -->
  <div class="qm-modal-scroll flex-1 overscroll-contain">
    {% for f in files %}
    <div x-show="activeTab === {{ loop.index0 }}" x-cloak>
      <pre class="qm-quadlet-pre">{{ f.content }}</pre>
    </div>
    {% endfor %}
  </div>
</div>
