<table class="qm-status-table">
  <tbody>
    <tr><td class="qm-status-key">{{ _("unit") }}</td><td class="qm-status-val">{{ status.unit }}</td></tr>
    <tr><td class="qm-status-key">{{ _("active") }}</td><td class="qm-status-val">{{ status.active_state }}</td></tr>
    <tr><td class="qm-status-key">{{ _("sub") }}</td><td class="qm-status-val">{{ status.sub_state }}</td></tr>
    <tr><td class="qm-status-key">{{ _("load") }}</td><td class="qm-status-val">{{ status.load_state }}</td></tr>
    {% if status.unit_file_state %}
    <tr><td class="qm-status-key">{{ _("unit file") }}</td><td class="qm-status-val">{{ status.unit_file_state }}</td></tr>
    {% endif %}
    {% if status.main_pid and status.main_pid != '0' %}
    <tr><td class="qm-status-key">{{ _("PID") }}</td><td class="qm-status-val">{{ status.main_pid }}</td></tr>
    {% endif %}
  </tbody>
</table>
{% if status.status_text %}
<pre class="qm-pre">{{ status.status_text }}</pre>
{% endif %}
