[Build]
ImageTag={{ build_unit.image_tag }}
SetWorkingDirectory={{ build_unit.build_context }}
{% if build_unit.build_file %}
File={{ build_unit.build_file }}
{% endif %}
{% for a in build_unit.annotation %}{% if v.get("annotation", true) %}
Annotation={{ a }}
{% endif %}{% endfor %}
{% if build_unit.arch and v.get("arch", true) %}
Arch={{ build_unit.arch }}
{% endif %}
{% if build_unit.auth_file and v.get("auth_file", true) %}
AuthFile={{ build_unit.auth_file }}
{% endif %}
{% if build_unit.containers_conf_module and v.get("containers_conf_module", true) %}
ContainersConfModule={{ build_unit.containers_conf_module }}
{% endif %}
{% for d in build_unit.dns %}{% if v.get("dns", true) %}
DNS={{ d }}
{% endif %}{% endfor %}
{% for d in build_unit.dns_option %}{% if v.get("dns_option", true) %}
DNSOption={{ d }}
{% endif %}{% endfor %}
{% for d in build_unit.dns_search %}{% if v.get("dns_search", true) %}
DNSSearch={{ d }}
{% endif %}{% endfor %}
{% for key, val in build_unit.env.items() %}{% if v.get("env", true) %}
Environment={{ key }}={{ val }}
{% endif %}{% endfor %}
{% if build_unit.force_rm and v.get("force_rm", true) %}
ForceRM=true
{% endif %}
{% for a in build_unit.global_args %}{% if v.get("global_args", true) %}
GlobalArgs={{ a }}
{% endif %}{% endfor %}
{% for g in build_unit.group_add %}{% if v.get("group_add", true) %}
GroupAdd={{ g }}
{% endif %}{% endfor %}
{% for key, val in build_unit.label.items() %}{% if v.get("label", true) %}
Label={{ key }}={{ val }}
{% endif %}{% endfor %}
{% if build_unit.network and v.get("network", true) %}
Network={{ build_unit.network }}
{% endif %}
{% for a in build_unit.podman_args %}{% if v.get("podman_args", true) %}
PodmanArgs={{ a }}
{% endif %}{% endfor %}
{% if build_unit.pull and v.get("pull", true) %}
Pull={{ build_unit.pull }}
{% endif %}
{% for s in build_unit.secret %}{% if v.get("secret", true) %}
Secret={{ s }}
{% endif %}{% endfor %}
{% if build_unit.target and v.get("target", true) %}
Target={{ build_unit.target }}
{% endif %}
{% if not build_unit.tls_verify and v.get("tls_verify", true) %}
TLSVerify=false
{% endif %}
{% if build_unit.variant and v.get("variant", true) %}
Variant={{ build_unit.variant }}
{% endif %}
{% for vol in build_unit.volume %}{% if v.get("volume", true) %}
Volume={{ vol }}
{% endif %}{% endfor %}
{% if build_unit.service_name and v.get("service_name", true) %}
ServiceName={{ build_unit.service_name }}
{% endif %}
{% if build_unit.retry and v.get("retry", true) %}
Retry={{ build_unit.retry }}
{% endif %}
{% if build_unit.retry_delay and v.get("retry_delay", true) %}
RetryDelay={{ build_unit.retry_delay }}
{% endif %}
{% for key, val in build_unit.build_args.items() %}{% if v.get("build_args", true) %}
BuildArg={{ key }}={{ val }}
{% endif %}{% endfor %}
{% if build_unit.ignore_file and v.get("ignore_file", true) %}
IgnoreFile={{ build_unit.ignore_file }}
{% endif %}
