[Network]
# Shared network for service {{ service_id }}
NetworkName={{ service_id }}
{% if svc and svc.net_driver %}
Driver={{ svc.net_driver }}
{% endif %}
{% if svc and svc.net_subnet %}
Subnet={{ svc.net_subnet }}
{% endif %}
{% if svc and svc.net_gateway %}
Gateway={{ svc.net_gateway }}
{% endif %}
{% if svc and svc.net_ipv6 %}
IPv6=true
{% endif %}
{% if svc and svc.net_internal %}
Internal=true
{% endif %}
{% if svc and svc.net_dns_enabled %}
DNS=true
{% endif %}
