[Network]
{% if network.network_name and v.get("network_name", true) %}
NetworkName={{ network.network_name }}
{% else %}
NetworkName={{ network.qm_name }}
{% endif %}
{% if network.driver %}
Driver={{ network.driver }}
{% endif %}
{% if network.subnet %}
Subnet={{ network.subnet }}
{% endif %}
{% if network.gateway %}
Gateway={{ network.gateway }}
{% endif %}
{% if network.ipv6 %}
IPv6=true
{% endif %}
{% if network.internal %}
Internal=true
{% endif %}
{% if network.dns and v.get("dns", true) %}
DNS={{ network.dns }}
{% elif network.dns_enabled and v.get("dns_enabled", true) %}
DNS=true
{% endif %}
{% if network.disable_dns %}
DisableDNS=true
{% endif %}
{% if network.ip_range %}
IPRange={{ network.ip_range }}
{% endif %}
{% for key, val in network.label.items() %}
Label={{ key }}={{ val }}
{% endfor %}
{% if network.options %}
Options={{ network.options }}
{% endif %}
{% if network.containers_conf_module and v.get("containers_conf_module", true) %}
ContainersConfModule={{ network.containers_conf_module }}
{% endif %}
{% for a in network.global_args %}{% if v.get("global_args", true) %}
GlobalArgs={{ a }}
{% endif %}{% endfor %}
{% for a in network.podman_args %}{% if v.get("podman_args", true) %}
PodmanArgs={{ a }}
{% endif %}{% endfor %}
{% if network.ipam_driver and v.get("ipam_driver", true) %}
IPAMDriver={{ network.ipam_driver }}
{% endif %}
{% if network.service_name and v.get("service_name", true) %}
ServiceName={{ network.service_name }}
{% endif %}
{% if network.network_delete_on_stop and v.get("network_delete_on_stop", true) %}
NetworkDeleteOnStop=true
{% endif %}
{% if network.interface_name and v.get("interface_name", true) %}
InterfaceName={{ network.interface_name }}
{% endif %}
