[Volume]
{% if volume.volume_name and v.get("volume_name", true) %}
VolumeName={{ volume.volume_name }}
{% else %}
VolumeName={{ service_id }}-{{ volume.qm_name }}
{% endif %}
{% if volume.driver %}
Driver={{ volume.driver }}
{% endif %}
{% if volume.device %}
Device={{ volume.device }}
{% endif %}
{% if volume.options %}
Options={{ volume.options }}
{% endif %}
{% if not volume.copy %}
Copy=false
{% endif %}
{% if volume.group %}
Group={{ volume.group }}
{% endif %}
{% if volume.gid %}
GID={{ volume.gid }}
{% endif %}
{% if volume.uid %}
UID={{ volume.uid }}
{% endif %}
{% if volume.user %}
User={{ volume.user }}
{% endif %}
{% if volume.image %}
Image={{ volume.image }}
{% endif %}
{% for key, val in volume.label.items() %}
Label={{ key }}={{ val }}
{% endfor %}
{% if volume.type %}
Type={{ volume.type }}
{% endif %}
{% if volume.containers_conf_module and v.get("containers_conf_module", true) %}
ContainersConfModule={{ volume.containers_conf_module }}
{% endif %}
{% for a in volume.global_args %}{% if v.get("global_args", true) %}
GlobalArgs={{ a }}
{% endif %}{% endfor %}
{% for a in volume.podman_args %}{% if v.get("podman_args", true) %}
PodmanArgs={{ a }}
{% endif %}{% endfor %}
{% if volume.service_name and v.get("service_name", true) %}
ServiceName={{ volume.service_name }}
{% endif %}
